body {
  margin: 0;
}

/* Nav css */
#nav {
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100vh;
  position: fixed;
  width: 250px;
}

.Link {
  text-decoration: none;
}

@media (max-width: 1200px) {
  #nav {
    width: 30vw;
  }
}

/* Page */
#page {
  position: absolute;
  top: 0px;
  left: 250px;
  width: calc(100vw - 250px);
  height: 100vh;
}
@media (max-width: 1200px) {
  #page {
    left: 30vw;
  }
}

.tableDiv {
  width: 1200px;
  height: 80vh;
  margin: auto;
}
@media (max-width: 1200px) {
  .tableDiv {
    width: 60vw;
  }
}

.addArticleBox {
  z-index: 200;
  top: 10vh;
  left: 10vw;
  position: absolute;
  background-color: lightgray;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
}



